* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    padding: 57px 27px;
    height: 100vh;
    width: 100vw;
    background-image: ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38B6FF;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    z-index: -1;
}

.content {
    position: absolute;
    width: 100;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
} */

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfd96;
}

.home, about, contact{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfd96;
}


.inner{
    height: 100vh;
    width: 100%;
    border-radius: 3vh;
    background-color: #fdfd96;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.result{

}