@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;  
  box-sizing: border-box;  
  transition: .3s ease;
}

/* Colors and Styles (Default) */
:root{
  --1stMainColor: #9975ff;
  --2ndMainColor: #fdfd96;
  --3rdMainColor: #84fc1e;
  --4thMainColor: #38B6FF;
  --1stSecondaryColor: #1f1f1f;
  --2ndSecondaryColor: #98dcff;
  --3rdSecondaryColor: #adf7b6;  
  --HoverColor: #84fc1e;
  --paleGreen: hsl(96,75%, 89%);
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --textColor1: #1f1f1f;
  --textColor2: hsl(240, 1%, 48%);
  --bgColor: #fdfd96;
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}
footer {
  align-items: center;
}
/* Default styles */
html{
  font-size: 90%;

}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  width: 200px;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #1f1f1f;
  justify-content: justify;
}

/* body {
  background: #ffffff;
  margin: 0;
} */

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

section {
  padding: 5rem 0rem;
}

.hero--contact--container {
  background: #fdfd96;
  padding: 5rem 0rem;
}


.App {
  text-align: justify;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #2b41e7;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
