@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}

/* Colors and Styles (Default) */
:root{
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96,75%, 89%);
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --textColor: hsl(240, 1%, 48%);
  --bgColor: #fdfd96;
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

/* Default styles */
html{
  font-size: 90%;

}

p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #1f1f1f;
  justify-content: justify;
}

body {
  background: #ffffff;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

section {
  padding: 5rem 0rem;
}



.App {
  text-align: justify;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c50b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2b41e7;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
